<!DOCTYPE html>
{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner
   {utils.flashed_messages(messages)}}
   #}
{% import "bootstrap/utils.html" as utils %}

{% block title %}{% endblock %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
  The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
{% block navbar %}

<nav>
  <h1><a href="{{ url_for('index') }}">Data Lake App</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% endblock %}


{% endblock %}
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

